.subject-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid springgreen;
}

